.container {
    display: flex;
    flex-direction: column;
}

/* card body */

.sectionHeader {
    padding: 24px;
    font-style: normal;
    font-weight: 450;
    font-size: 24px;
    line-height: 1.2083;
    letter-spacing: 0.015em;
    color: var(--inputLineColor);
}

.showMoreButton {
    padding: 16px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.015em;
    color: var(--inputLineColor);
    cursor: pointer;
}

.verticalSpacer {
    padding-bottom: 50px;
}