.container {
    width: 100%;
    height: 56px;
    margin-bottom: 22px;
    border-radius: 10px;
    display: flex;
}

.searchIconPlace {
    padding: 19px;
}

.container > input {
    flex: 1 0 auto;
    border: none;
    font-family: var(--mainFontFamily);
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 1.2222;
    letter-spacing: 0.015em;
}

.container > input::placeholder {
    color: var(--mutedColor);
    opacity: 0.6;
}

.container > input:focus {
    outline: none;
}

/* Buttons Container */

.buttonsContainer {
    position: relative;
}

.buttonsContainer > button:last-of-type {
    border-radius: 0 10px 10px 0;
}

.buttonsContainer > .filtersButton {
    position: relative;
    height: 100%;
    padding: 17px;
    font-family: var(--mainFontFamily);
    font-size: 18px;
    line-height: 1.2222;
    letter-spacing: 0.015rem;
    border: none;
    background-color: var(--componentBackgroundColor);
    color: var(--mutedColor);
    cursor: pointer;
    transition: ease-in 0.1s background-color;
}

.buttonsContainer > .filtersButton:after {
    position: absolute;
    content: "";
    top: 8px;
    left: -1px;
    height: 40px;
    border-left: 1px solid var(--horizontalLineColor);
    width: 1px;
    transition: ease-in 0.1s opacity;
}

.filtersButton:hover {
    background-color: var(--accentColorHover);
}

.filtersButton:hover::after {
    opacity: 0;
}

/* Hover Menu */

.hoverMenu {
    position: absolute;
    top: 3.5em;
    right: 0;
    z-index: -999;
    padding: 24px;
    white-space: nowrap;
    opacity: 0;
    /*transition: top 0.2s ease-in, opacity 0.2s ease-in;*/
    box-shadow: var(--hightContrastBoxShadow);
}

.filtersButton:hover + .hoverMenu {
    /*top: 4.5em;
    opacity: 1;*/
    animation: hoverMenuAnimation 0.2s ease-in 0s forwards;
}

.hoverMenu > h5 {
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.015em;
    color: var(--mainColor);
}

.hoverMenu > h5:not(:first-child) {
    margin-top: 32px;
}

.hoverMenu > .checkbox {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 26px;
    right: 26px;
}

.hoverMenu > h5 + input {
    margin-top: 16px;
}

.hoverMenu > h5 + input + input {
    margin-left: 1em;
}

.hoverMenu > .singleInputField + input {
    width: 100%;
}

.hoverMenu .searchButton {
    margin-top: 16px;
    box-shadow: var(--accentBoxShadow);
}

@keyframes hoverMenuAnimation {
    0% {
        visibility: hidden;
        top: 3.5em;
        opacity: 0;
        z-index: 999;
    }
    1% {
        visibility: visible;
        top: 3.5em;
        opacity: 0;
        z-index: 999;
    }
    100% {
        visibility: visible;
        top: 4.5em;
        opacity: 1;
        z-index: 999;
    }
}