.logo {
    font-size: 60px;
    margin-bottom: 88px;
}

.cardAuth {
    padding: 32px 48px 56px;
}

.cardRegistration {
    padding: 32px 48px 44px;
}

.cardDone {
    width: 439px;
    padding: 32px 48px 44px;
}