.scrollableElement {
    flex: 0 1 auto;
    overflow: auto;
    max-height: 100%;
}

.scrollableElement::-webkit-scrollbar {
    width: 8px;
    padding: 0 1px 20px 1px;
}

.scrollableElement::-webkit-scrollbar-thumb {
    border-radius: 9999rem;
    background-color: var(--mutedColor);
}