.Button {
    cursor: pointer;
    font-family: var(--mainFontFamily);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.015em;
    color: var(--inputLineColor);
    border: none;
    background: none;
    text-decoration: none;
    transition: .3s linear;
}
.Button:focus {
    outline: none;
}

.ButtonVoid {
    display: inline-block;
}


.ButtonFilled {
    width: 100%;
    padding: 13px 15px 12px;
    background: var(--accentColor);
    box-shadow: var(--accentBoxShadow);
    border-radius: 10px;
}

.ButtonFilled:hover {
    background: var(--accentColorHover);
}
