.TextInput {
    padding: 16px 16px 14px;
    font-family: var(--mainFontFamily);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.015em;
    color: var(--mutedColor);
    border: none;
    border-bottom:  1px solid var(--mutedInputLineColor);
    transition: .2s linear;
}

.TextInput::placeholder {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.015em;
    color: var(--mutedColor);
    opacity: 0.4;
}

.TextInput:hover {
    border-color: var(--inputLineColor);
}

.TextInput:focus {
    outline: none;
    border-color: var(--inputLineColor);
}



.Password {
    position: relative;
}

.PasswordEye {
    position: absolute;
    right: 17.5px;
    bottom: 12px;
    cursor: pointer;
}
