.appScreen {
    display: flex;
    height: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.pageWithNavigation {
    flex: 1 0 auto;
    min-height: 100%;
    height: 100vh;
}